<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
    <default-wrapper xsi:type="AsyncWrapper"
                     queueLimit="2147483647"
                     timeToSleepBetweenBatches="4"
                     batchSize="1024"
                     fullBatchSizeWriteLimit="2147483647"
                     overflowAction="Block" />
    <target xsi:type="File"
            name="file"
            keepFileOpen="true"
            concurrentWrites="false"
            cleanupFileName="false"
            fileName="${basedir:processDir=true}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} [${int32hex:${aspnet-item:variable=round}}] ${aspnet-request-ip} ${aspnet-TraceIdentifier:ignoreActivityId=true} [${aspnet-item:variable=team}] ${aspnet-request-method} ${aspnet-request-url:IncludeScheme=false:IncludeHost=false:IncludePort=false} -> HTTP ${aspnet-response-statuscode} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
